/*nei cellulari ibrowser hanno impostazioni per aggiustare la dimensione del testo, 
si usa viewport*/

html, header{
    background: none;
}

#menu{
    float: none;
}

#breakingNews{
    float: none;
    width: auto;
    margin: 0;
}

main{
    margin-left: 0;
}

footer .imgValidCode{
    width: 20%;
}
